{#{% extends 'base.html.twig' %}#}

{% block stylesheets %}
    <link href="{{ asset('assets/styles/style2.css')}}" rel="stylesheet">

{% endblock %}

{% block body %}
    <p>Code envoyé ! <Br>Vérifiez votre adresse mail.</p>
{% endblock %}
