{% extends 'base.html.twig' %}

{% block title %}Lawine Roue Cadeau{% endblock %}
{# {% block stylesheets %} #}
{# <link href="{{ asset('assets/styles/style.css') }}" rel="stylesheet"> #}
{# {% endblock %} #}

{% block body %}

    <div class="mainbox" id="mainbox">
        <div class="box" id="box">
            <div class="box1">
                <span class="font span1"><b>Produit au choix</b></span>
                <span class="font span2"><b>Remise de 20%</b></span>
                <span class="font span3"><b>Bon de 10€</b></span>
                <span class="font span4"><b>Bon de 15€</b></span>
                <span class="font span5"><b>Remise de 15%<br/>
          </b></span>
            </div>
            <div class="box2">
                <span class="font span1"><b>Remise de 10%</b></span>
                <span class="font span2"><b>Bon de 5€<br/>
          </b></span
                >
                <span class="font span3"><b>Remise de 50%</b></span>
                <span class="font span4"><b>Cadeau surprise</b></span>
                <span class="font span5"><b>Remise de 5% <br/>
          </b></span>
            </div>
        </div>

        {#                <button type="submit" id="principale" class="spin" onclick="spin()">Recevoir</button> #}
    </div>

    <div class=" container-sm form">
        {{ form_start(form, {'attr': {'id': 'myForm', 'onsubmit': 'spin()'}} ) }}

        {{ form_widget(form, {'attr': {'id': 'input'}}) }}

        <input type="hidden" id="Item" name="Gain">

        <button type="submit" id="principale" class="btn bn632-hover bn26 ">Recevoir</button>

        {{ form_end(form) }}

    </div>

{% endblock %}
