{% extends 'base.html.twig' %}

{% block title %}Hello BaseController!{% endblock %}

{% block body %}
<style>

</style>

<div class=" container-sm form">
    {{ form_start(form) }}

        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary ">Recevoir </button>

        {{ form_end(form) }}

</div>
{% endblock %}
