<!-- Just an image -->
<nav class="navbar">
    <a class="navbar-brand mx-auto" href="#">
        <img src="{{ asset('assets/img/logo-removebg-preview.png') }}" width="180" height="180" alt="">
    </a>
</nav>